%script{:type=>"text/javascript"}
  $(function(){
  $("#myTable").tablesorter();
  });

-#  This file is app/views/movies/index.html.haml
%h2.page-title Tabela de Projetos

%div= render 'table', :projects => @projects