= javascript_include_tag "table.js"
- if @projects.nil?
  %div.error
    %h3 Nenhum projeto encontrado
- else
  %table.tablesorter{:id => "myTable", :class => "project-table"}
    %thead
      %tr 
        %th.sortable.margem.title
          %span.glyphicon.glyphicon-sort
          Titulo
        %th.sortable.margem.enterprise
          %span.glyphicon.glyphicon-sort
          Assunto
        %th.sortable.margem.research-area
          %span.glyphicon.glyphicon-sort
          Empresa
        %th.sortable.margem.start-date
          %span.glyphicon.glyphicon-sort
          Área do Conhecimento
        %th.sortable.margem.end-date
          %span.glyphicon.glyphicon-sort
          Início
        %th.sortable.margem.more-details
          %span.glyphicon.glyphicon-sort
          Fim
        %th.more-details.margem#header Mais Detalhes

    %tbody
      - i = 0
      - @projects.each do |project|
        - i = i + 1
        - if (i%2 == 0) 
          - classe = 'par'
        - else 
          - classe = 'impar'
        %tr{:class => "#{classe}"}
          %td.cel= project.title
          %td.cel
            - project.subjects.each do |subject|
              = subject 
              %br 
          %td.cel= project.enterprise
          %td.cel= project.research_area
          %td.cel= project.start_date.strftime("01/%m/%Y")
          %td.cel= project.end_date.strftime("01/%m/%Y")
          %td.cel.lupa
            = link_to(project.id.to_s) do
              %span.glyphicon.glyphicon-search
