

-#  This file is app/views/projects/cluster.html.haml
%h2.page-title Tabela de Projetos

%script{:type=>"text/javascript"}
  $(function() {
  // When DOM is ready, select the container element and call
  // the jQCloud method, passing the array of words as the first argument.
  $("#tag_").jQCloud(#{raw @tag_array.to_json});
  });
%div.center{:id => "tag_", :style => "width: 50%; height: 400px;"}

%div= render 'table', :projects => @projects
