%meta{:charset => "utf-8"}
//%link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
//%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
//%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

.container-fluid
  .page-header{:style => "text-align: center;"}
    %h3 #{@project.title_en}
  .row
    - unless @project.responsible_researcher.nil?
      .col-md-6
        .well
          .text-info Researcher: #{@project.responsible_researcher.name}

    - unless @project.enterprise == nil
      .col-md-6
        .well
          .text-info Enterprise: #{@project.enterprise}

    - unless @project.abstract == nil
      .col-md-12
        .well{:style => "text-align: justify"}
          %h5 Abstract:
          #{@project.abstract_en}

    - unless @project.city == nil
      .col-md-6
        .well
          .text-info City: #{@project.city}

    - unless @project.search_local == nil
      .col-md-6
        .well
          .text-info Search Local: #{@project.search_local}

    - unless @project.institution == nil
      .col-md-6
        .well
          .text-info Institution: #{@project.institution}

    - unless @project.cooperation_FAPESP == nil
      .col-md-6
        .well
          .text-info FAPESP: #{@project.cooperation_FAPESP}
  .row
    .col-md-12
      %div{:class => "well well-sm", :style => "text-align: center"}
        Period: #{@project.start_date.strftime("%d/%m/%Y")} - #{@project.end_date.strftime("%d/%m/%Y")}


  .row
    .col-md-8
      =link_to (searchid_searchid_path(params.merge(search: @project))) do
        %div.botao{:style => "float: right"}= "Show related projects"
    .col-md-4
      %div{:class => 'lang', :style => 'text-align: center'}
        =link_to 'Confira a versão em português desta página', "/projects/#{params[:id]}"
        =image_tag((image_path 'br.png'), class: 'small-img')
