%meta{:charset => "utf-8"}

.container-fluid
  .page-header{:style => "text-align: center;"}
    %h3 #{@project.title}
  .row
    - unless @project.responsible_researcher.nil?
      .col-md-6
        .well
          .text-info Perquisador: #{@project.responsible_researcher.name}

    - unless @project.enterprise == nil
      .col-md-6
        .well
          .text-info Empresa: #{@project.enterprise}

    - unless @project.abstract == nil
      .col-md-12
        .well{:style => "text-align: justify"}
          %h5 Resumo:
          #{@project.abstract}

    - unless @project.city == nil
      .col-md-6
        .well
          .text-info Cidade: #{@project.city}

    - unless @project.search_local == nil
      .col-md-6
        .well
          .text-info Local de pesquisa: #{@project.search_local}

    - unless @project.institution == nil
      .col-md-6
        .well
          .text-info Instituição: #{@project.institution}

    - unless @project.cooperation_FAPESP == nil
      .col-md-6
        .well
          .text-info FAPESP: #{@project.cooperation_FAPESP}
  .row
    .col-md-12
      %div{:class => "well well-sm", :style => "text-align: center"}
        Vigência: #{@project.start_date.strftime("%d/%m/%Y")} - #{@project.end_date.strftime("%d/%m/%Y")}


  .row
    .col-md-8
      =link_to (searchid_searchid_path(params.merge(search: @project))) do
        %div.botao{:style => "float: right"}= "Mostrar projetos relacionados"
    .col-md-4
      %div{:class => 'lang', :style => 'text-align: center'}
        =link_to 'Check the English version of this page', "/projects/#{params[:id]}/en"
        =image_tag((image_path 'en.png'), class: 'small-img')
  .row
    .col-md-8
      - unless @project.research_area == ""
        -@project.subjects.each do |sub|
          %span.label.label-info #{sub}

