%script{:type=>"text/javascript"}
  var array = new Array();
  var i = 0;
  -@tag_array.each do |tag|
    array.push(#{raw tag.to_json});
    $(function() {
    / / When DOM is ready, select the container element and call
    // the jQCloud method, passing the array of words as the first argument.
    $("#tag_" + i).empty();
    $("#tag_" + i).jQCloud(array[i], {
    fontSize: {
    from: 0.02,
    to: 0.02
    }
    });
    i++;
    });
-@size *= @tag_array.length / 2
%div.principal
  %h4.page-title Índice de projetos agrupados por assunto
  %div.container{:style=>"text-align: left; border-collapse: separate; width: 100%; height: auto;"}
    -@index = 0
    -@tag_array.in_groups_of(3).each do |group|
      %div.row{:style => "height: auto; padding-top: 10px;"}
        -group.each do |tag|
          %div.col-md-4.col-sd-4.col-xs-4{:style=>"width: 33%; height: auto; background-color:#FBF6F1;padding-left: 3%"}
            %div.row{:id => "tag_#{@index}", :style => "height: 300px;"}
            -unless @cmembers[@index].nil?
              %div.row{:style=>"text-align: center;"}
                =link_to (projects_cluster_path(params.merge(id: @index))) do
                  %div.botao.col-md-6.col-sd-6.col-xs-12{:style => "float: left; height auto;"}= "Mostrar " + @cmembers[@index].count.to_s + " Projetos"
                =link_to (navigator_navigator_path(params.merge(view_projects: @index.to_s, n_cluster: params[:n_cluster], keep_cluster: "false"))) do
                  %div.botao.col-md-6.col-sd-6.col-xs-12{:style => "float: right; height auto;"} Ver Subgrupos
                -@index = @index + 1
    %div.row{:style => "padding-top: 10px;"}
      =form_tag({:action => 'navigator', view_projects: params[:view_projects]}, :method => :get) do
        %label{:for => 'n_cluster'} Redefinir número de Clusters
        = number_field_tag(:n_cluster, params[:n_cluster], {:min => 1, :max => 10})
        = hidden_field_tag(:view_projects, params[:view_projects])
        = hidden_field_tag(:keep_cluster, "true")
        = submit_tag 'Atualizar'
      = form_tag(searchid_searchid_path, :method => "get", id: "search-form") do
        = text_field_tag :search, params[:search], placeholder: "Search ID"
        = submit_tag "Search", :name => nil

