html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

.page-title{
  text-align: center;
}

img.small-img{
	height: 25px;
}

.center{
  margin: auto;
}

.col-md-6{
	text-align: center;
}

.impar{
  background: #DCDCDC;
}

td{
  border-spacing: 5px;
  border: 4px solid white;
}

th{
  background: #8FBC8F;
  border: 4px solid white;
}

.margem{
  padding: 5px;
}

table{
  margin-left: 20px;
  margin-right: 20px;
}

tr.par:hover {background-color: #a9a9a9}
tr.impar:hover {background-color: #a9a9a9}

.par{
  background: #F8F8FF;
}

.lupa{
  margin: auto;
  vertical-align: center;
}

.botao{
  background: #800000;
    color: darkgoldenrod;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #a9a9a9;
  width: 50%
}

.botao:hover{
  background-color: #a9a9a9
}

.uma-linha{
  display: inline;
  font-size: large;
}

.principal{
  align: center; 
  width: 100%; 
  float: left;
}

.voltar{
  float: left;
  background: #d1e0e0;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 3px;
}

.titulo-da-pagina{
  text-align: center;
  background: #d1e0e0;
  padding-top: 3px;
  padding-right: 20px;
  padding-bottom: 3px;
}

.links{
  float: right;
  margin-top: 1px;
}

.rodape{
  float: left;
}

.bold{
  font-size: 120%;
  font-weight: bold;
}

.black{
  color: black;
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.glyphicon{
  color: black;
}

.not-underlined:hover{
  text-underline-position: unset;
}
