div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #09f;
  overflow: hidden;
  position: relative;
}
div.jqcloud a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
div.jqcloud a:hover {
  color: #0df;
}
div.jqcloud a:hover {
  color: #0cf;
}
div.jqcloud span {
  padding: 0;
}
div.jqcloud span.w10 {
  font-size: 42px;
  color: #0cf;
}
div.jqcloud span.w9 {
  font-size: 38px;
  color: #0cf;
}
div.jqcloud span.w8 {
  font-size: 34px;
  color: #0cf;
}
div.jqcloud span.w7 {
  font-size: 30px;
  color: #39d;
}
div.jqcloud span.w6 {
  font-size: 26px;
  color: #90c5f0;
}
div.jqcloud span.w5 {
  font-size: 22px;
  color: #90a0dd;
}
div.jqcloud span.w4 {
  font-size: 20px;
  color: #90c5f0;
}
div.jqcloud span.w3 {
  font-size: 18px;
  color: #a0ddff;
}
div.jqcloud span.w2 {
  font-size: 16px;
  color: #99ccee;
}
div.jqcloud span.w1 {
  font-size: 14px;
  color: #aab5f0;
}

