// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lang {
  img{
		width: 25px;
        height: 20px;
	} 
  padding-bottom: 1.1em;
}

.cel {
  padding: 10px;
}

.lupa {
  padding: 20px;
}

.sortable:hover {
  cursor: pointer;
}