<!DOCTYPE html>
<html>
<head>
  <title>Tag Cloud Index</title>
  <link rel="stylesheet" type="text/css" href="jqcloud.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="cabecalho">
    <div class="voltar">
      <%= link_to(url_for(:back)) do %>
        <span class="glyphicon glyphicon-share-alt icon-flipped" aria-hidden="true"></span>
      <% end %>
    </div>

    <div class="titulo-da-pagina">
      <%= link_to(root_url) do %>
        <span class="glyphicon glyphicon-home icon-flipped" aria-hidden="true"></span>
      <% end %>
      <%= link_to "Minera Pipe", root_url, :class => "bold black" %>
      <div class="links">
        <%= link_to(root_url) do %>
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        <% end %>
        <%= link_to "Todos os projetos", "/projects/table", :class => "black" %>
      </div>
    </div>
  </div>
  <div class="principal">
  <%= yield %>
  </div>
</body>
</html>